:root {
  --light-yellow: #e5c07b;
  --dark-yellow: #d19a66;
  --blue: #178def;
  --cyan: #298894;
  --light-red: #e06c75;
  --dark-red: #450c07;
  --comment-gray: #5c6370;
  --magenta: #891aab;
  --dark: #747275;
}

pre {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 5px;
}

pre:has(code) {
    background-color: #FAFAF1;
}

code.c {
  color: var(--dark);
}

code.c .keyword,
code.c .type {
  color: var(--magenta);
}

code.c .string {
  color: var(--dark-yellow);
}

code.c .number {
  color: var(--light-red);
}

code.c .constant {
  color: var(--light-red);
}

code.c .property,
code.c .constant.variable {
    color: var(--dark-red);
}

code.c .constant.variable.function {
  color: var(--blue);
}